@import "~normalize.css";
@import 'roboto.css';


body {
  font-family: 'Roboto', sans-serif;
  color: blue;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.logo {
  background-image: url("../assets/1.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}